<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Futiba Club </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/cst/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/cst/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/cst/style.css" rel="stylesheet">
    <link href="/css/cst/futiba-interno.css" rel="stylesheet">
    <link href="/css/cst/interface-projeto.css" rel="stylesheet">
</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light green fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/img-futiba-club/logo.png" height="30" alt="Futiba Club">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <% include elements/menu_itens %>
                    
                </div>
            </div>
        </nav>
    </header>
    <section class="content">
        <div class="container">
            <% if(!classification === 0) { %>
                <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">Ainda não há classificação!</h4>
                        <p>Chegou a hora de criar seu grupo de amigos ou entrar em um já existente para começar a fazer seus palpites para os jogos de sua preferência.</p>
                        <p class="mb-0">Vamos lá ! vamos ver quem acerta mais? Dê o seu palpite e desafie seus amigos. Boa Sorte!.</p>
                </div>
                <% } %>
            <div class="">
                <h2>Classificação</h2>
            </div>
               <hr> 
                       
                <table class="table table-striped">
                <thead>
                        <% if(classification !== 0) { %>
                    <tr>
                        <th class="h5">#</th>
                        <th class="h5 text-center mb-4">Participantes</th>
                        <th></th>
                        <th class="h5 text-center mb-4">Pontos</th>
                    </tr>
                    <% } %>
                </thead>
                <tbody>
                 <% classification.forEach( classification => { %> 
                    <% if(classification.score) { %>  
                    <tr>
                        <th scope="row"><h4><%= classification.id %></h4></th>
                        
                        <td class="text-center mb-4">
                    <h4>   
                        <%= classification.name  %>
                    </h4>
                        </td>
                        <td class="text-block-3"> 
                        </td>
                        <td class="text-center mb-4">
                        <h4>
                         <%= classification.score %>
                        </h4>
                        </td>
                       
                    </tr>
                     <% } %>
                    <% }) %>   
                 </tbody>
                    </table>
                    
        </div>
    </section>
    
    <% include elements/footer %>
