<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Futiba Club </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/futiba-interno.css" rel="stylesheet">
</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light green fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/img-futiba-club/logo.png" height="30" alt="Futiba Club">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <% include elements/menu_itens %>
                    
                </div>
            </div>
        </nav>
    </header>

    <section>
            <div class="container">
                <h2>Classificação Grupos</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Grupo</th>
                            <th>Pontos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Peladeiros da noite</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Masters of None</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Filhos do Pelé</td>
                            <td>300</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    <section>
            <section>
                    <!-- Form contact -->
            <form>
            
                    <p class="h5 text-center mb-4">Write to us</p>
                
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="form3" class="form-control">
                        <label for="form3">Your name</label>
                    </div>
                
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="form2" class="form-control">
                        <label for="form2">Your email</label>
                    </div>
                
                    <div class="md-form">
                        <i class="fa fa-tag prefix grey-text"></i>
                        <input type="text" id="form32" class="form-control">
                        <label for="form34">Subject</label>
                    </div>
                
                    <div class="md-form">
                        <i class="fa fa-pencil prefix grey-text"></i>
                        <textarea type="text" id="form8" class="md-textarea" style="height: 100px"></textarea>
                        <label for="form8">Your message</label>
                    </div>
                
                    <div class="text-center">
                        <button class="btn btn-unique">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                    </div>
                
                </form>
                <!-- Form contact -->
                </section>   
    
    <% include elements/footer %>
